.box {
  background-color: #f0f0f0;
  width: 500px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 400px;
}
