* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
   padding: 1px 20px;
   background-color: yellow;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin: 0;
    border: none;
    gap: 20px;
    
}
