 .custom-button {
            background-color: #4CAF50;  
            color: white; 
            padding: 10px 20px;
            border-radius: 8px; 
            margin: 15px 0; 
            border: none; 
            cursor: pointer;
            font-size: 16px; 
            justify-content: center;
            align-items: center;
            display: inline-flex;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 50px;
        }

        .custom-button:hover {
            background-color: #45a049;
        }